.content
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title 202 Awesome Stroke Icons
						p.category
							| Handcrafted by our friends from 
							a(target='_blank', href='http://themes-pixeden.com/font-demos/7-stroke/index.html') Pixeden
					.content.all-icons
						.row
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-album
									input(type='text', value='pe-7s-album')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-arc
									input(type='text', value='pe-7s-arc')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-back-2
									input(type='text', value='pe-7s-back-2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-bandaid
									input(type='text', value='pe-7s-bandaid')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-car
									input(type='text', value='pe-7s-car')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-diamond
									input(type='text', value='pe-7s-diamond')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-door-lock
									input(type='text', value='pe-7s-door-lock')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-eyedropper
									input(type='text', value='pe-7s-eyedropper')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-female
									input(type='text', value='pe-7s-female')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-gym
									input(type='text', value='pe-7s-gym')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-hammer
									input(type='text', value='pe-7s-hammer')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-headphones
									input(type='text', value='pe-7s-headphones')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-helm
									input(type='text', value='pe-7s-helm')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-hourglass
									input(type='text', value='pe-7s-hourglass')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-leaf
									input(type='text', value='pe-7s-leaf')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-magic-wand
									input(type='text', value='pe-7s-magic-wand')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-male
									input(type='text', value='pe-7s-male')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-map-2
									input(type='text', value='pe-7s-map-2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-next-2
									input(type='text', value='pe-7s-next-2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-paint-bucket
									input(type='text', value='pe-7s-paint-bucket')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-pendrive
									input(type='text', value='pe-7s-pendrive')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-photo
									input(type='text', value='pe-7s-photo')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-piggy
									input(type='text', value='pe-7s-piggy')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-plugin
									input(type='text', value='pe-7s-plugin')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-refresh-2
									input(type='text', value='pe-7s-refresh-2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-rocket
									input(type='text', value='pe-7s-rocket')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-settings
									input(type='text', value='pe-7s-settings')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-shield
									input(type='text', value='pe-7s-shield')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-smile
									input(type='text', value='pe-7s-smile')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-usb
									input(type='text', value='pe-7s-usb')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-vector
									input(type='text', value='pe-7s-vector')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-wine
									input(type='text', value='pe-7s-wine')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-cloud-upload
									input(type='text', value='pe-7s-cloud-upload')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-cash
									input(type='text', value='pe-7s-cash')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-close
									input(type='text', value='pe-7s-close')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-bluetooth
									input(type='text', value='pe-7s-bluetooth')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-cloud-download
									input(type='text', value='pe-7s-cloud-download')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-way
									input(type='text', value='pe-7s-way')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-close-circle
									input(type='text', value='pe-7s-close-circle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-id
									input(type='text', value='pe-7s-id')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-up
									input(type='text', value='pe-7s-angle-up')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-wristwatch
									input(type='text', value='pe-7s-wristwatch')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-up-circle
									input(type='text', value='pe-7s-angle-up-circle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-world
									input(type='text', value='pe-7s-world')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-right
									input(type='text', value='pe-7s-angle-right')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-volume
									input(type='text', value='pe-7s-volume')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-right-circle
									input(type='text', value='pe-7s-angle-right-circle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-users
									input(type='text', value='pe-7s-users')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-left
									input(type='text', value='pe-7s-angle-left')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-user-female
									input(type='text', value='pe-7s-user-female')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-left-circle
									input(type='text', value='pe-7s-angle-left-circle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-up-arrow
									input(type='text', value='pe-7s-up-arrow')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-down
									input(type='text', value='pe-7s-angle-down')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-switch
									input(type='text', value='pe-7s-switch')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-angle-down-circle
									input(type='text', value='pe-7s-angle-down-circle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-scissors
									input(type='text', value='pe-7s-scissors')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-wallet
									input(type='text', value='pe-7s-wallet')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-safe
									input(type='text', value='pe-7s-safe')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-volume2
									input(type='text', value='pe-7s-volume2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-volume1
									input(type='text', value='pe-7s-volume1')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-voicemail
									input(type='text', value='pe-7s-voicemail')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-video
									input(type='text', value='pe-7s-video')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-user
									input(type='text', value='pe-7s-user')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-upload
									input(type='text', value='pe-7s-upload')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-unlock
									input(type='text', value='pe-7s-unlock')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-umbrella
									input(type='text', value='pe-7s-umbrella')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-trash
									input(type='text', value='pe-7s-trash')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-tools
									input(type='text', value='pe-7s-tools')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-timer
									input(type='text', value='pe-7s-timer')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-ticket
									input(type='text', value='pe-7s-ticket')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-target
									input(type='text', value='pe-7s-target')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-sun
									input(type='text', value='pe-7s-sun')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-study
									input(type='text', value='pe-7s-study')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-stopwatch
									input(type='text', value='pe-7s-stopwatch')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-star
									input(type='text', value='pe-7s-star')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-speaker
									input(type='text', value='pe-7s-speaker')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-signal
									input(type='text', value='pe-7s-signal')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-shuffle
									input(type='text', value='pe-7s-shuffle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-shopbag
									input(type='text', value='pe-7s-shopbag')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-share
									input(type='text', value='pe-7s-share')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-server
									input(type='text', value='pe-7s-server')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-search
									input(type='text', value='pe-7s-search')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-film
									input(type='text', value='pe-7s-film')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-science
									input(type='text', value='pe-7s-science')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-disk
									input(type='text', value='pe-7s-disk')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-ribbon
									input(type='text', value='pe-7s-ribbon')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-repeat
									input(type='text', value='pe-7s-repeat')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-refresh
									input(type='text', value='pe-7s-refresh')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-add-user
									input(type='text', value='pe-7s-add-user')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-refresh-cloud
									input(type='text', value='pe-7s-refresh-cloud')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-paperclip
									input(type='text', value='pe-7s-paperclip')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-radio
									input(type='text', value='pe-7s-radio')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-note2
									input(type='text', value='pe-7s-note2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-print
									input(type='text', value='pe-7s-print')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-network
									input(type='text', value='pe-7s-network')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-prev
									input(type='text', value='pe-7s-prev')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-mute
									input(type='text', value='pe-7s-mute')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-power
									input(type='text', value='pe-7s-power')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-medal
									input(type='text', value='pe-7s-medal')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-portfolio
									input(type='text', value='pe-7s-portfolio')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-like2
									input(type='text', value='pe-7s-like2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-plus
									input(type='text', value='pe-7s-plus')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-left-arrow
									input(type='text', value='pe-7s-left-arrow')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-play
									input(type='text', value='pe-7s-play')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-key
									input(type='text', value='pe-7s-key')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-plane
									input(type='text', value='pe-7s-plane')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-joy
									input(type='text', value='pe-7s-joy')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-photo-gallery
									input(type='text', value='pe-7s-photo-gallery')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-pin
									input(type='text', value='pe-7s-pin')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-phone
									input(type='text', value='pe-7s-phone')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-plug
									input(type='text', value='pe-7s-plug')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-pen
									input(type='text', value='pe-7s-pen')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-right-arrow
									input(type='text', value='pe-7s-right-arrow')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-paper-plane
									input(type='text', value='pe-7s-paper-plane')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-delete-user
									input(type='text', value='pe-7s-delete-user')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-paint
									input(type='text', value='pe-7s-paint')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-bottom-arrow
									input(type='text', value='pe-7s-bottom-arrow')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-notebook
									input(type='text', value='pe-7s-notebook')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-note
									input(type='text', value='pe-7s-note')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-next
									input(type='text', value='pe-7s-next')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-news-paper
									input(type='text', value='pe-7s-news-paper')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-musiclist
									input(type='text', value='pe-7s-musiclist')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-music
									input(type='text', value='pe-7s-music')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-mouse
									input(type='text', value='pe-7s-mouse')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-more
									input(type='text', value='pe-7s-more')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-moon
									input(type='text', value='pe-7s-moon')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-monitor
									input(type='text', value='pe-7s-monitor')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-micro
									input(type='text', value='pe-7s-micro')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-menu
									input(type='text', value='pe-7s-menu')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-map
									input(type='text', value='pe-7s-map')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-map-marker
									input(type='text', value='pe-7s-map-marker')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-mail
									input(type='text', value='pe-7s-mail')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-mail-open
									input(type='text', value='pe-7s-mail-open')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-mail-open-file
									input(type='text', value='pe-7s-mail-open-file')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-magnet
									input(type='text', value='pe-7s-magnet')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-loop
									input(type='text', value='pe-7s-loop')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-look
									input(type='text', value='pe-7s-look')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-lock
									input(type='text', value='pe-7s-lock')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-lintern
									input(type='text', value='pe-7s-lintern')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-link
									input(type='text', value='pe-7s-link')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-like
									input(type='text', value='pe-7s-like')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-light
									input(type='text', value='pe-7s-light')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-less
									input(type='text', value='pe-7s-less')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-keypad
									input(type='text', value='pe-7s-keypad')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-junk
									input(type='text', value='pe-7s-junk')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-info
									input(type='text', value='pe-7s-info')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-home
									input(type='text', value='pe-7s-home')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-help2
									input(type='text', value='pe-7s-help2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-help1
									input(type='text', value='pe-7s-help1')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-graph3
									input(type='text', value='pe-7s-graph3')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-graph2
									input(type='text', value='pe-7s-graph2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-graph1
									input(type='text', value='pe-7s-graph1')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-graph
									input(type='text', value='pe-7s-graph')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-global
									input(type='text', value='pe-7s-global')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-gleam
									input(type='text', value='pe-7s-gleam')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-glasses
									input(type='text', value='pe-7s-glasses')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-gift
									input(type='text', value='pe-7s-gift')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-folder
									input(type='text', value='pe-7s-folder')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-flag
									input(type='text', value='pe-7s-flag')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-filter
									input(type='text', value='pe-7s-filter')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-file
									input(type='text', value='pe-7s-file')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-expand1
									input(type='text', value='pe-7s-expand1')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-exapnd2
									input(type='text', value='pe-7s-exapnd2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-edit
									input(type='text', value='pe-7s-edit')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-drop
									input(type='text', value='pe-7s-drop')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-drawer
									input(type='text', value='pe-7s-drawer')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-download
									input(type='text', value='pe-7s-download')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-display2
									input(type='text', value='pe-7s-display2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-display1
									input(type='text', value='pe-7s-display1')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-diskette
									input(type='text', value='pe-7s-diskette')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-date
									input(type='text', value='pe-7s-date')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-cup
									input(type='text', value='pe-7s-cup')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-culture
									input(type='text', value='pe-7s-culture')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-crop
									input(type='text', value='pe-7s-crop')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-credit
									input(type='text', value='pe-7s-credit')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-copy-file
									input(type='text', value='pe-7s-copy-file')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-config
									input(type='text', value='pe-7s-config')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-compass
									input(type='text', value='pe-7s-compass')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-comment
									input(type='text', value='pe-7s-comment')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-coffee
									input(type='text', value='pe-7s-coffee')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-cloud
									input(type='text', value='pe-7s-cloud')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-clock
									input(type='text', value='pe-7s-clock')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-check
									input(type='text', value='pe-7s-check')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-chat
									input(type='text', value='pe-7s-chat')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-cart
									input(type='text', value='pe-7s-cart')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-camera
									input(type='text', value='pe-7s-camera')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-call
									input(type='text', value='pe-7s-call')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-calculator
									input(type='text', value='pe-7s-calculator')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-browser
									input(type='text', value='pe-7s-browser')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-box2
									input(type='text', value='pe-7s-box2')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-box1
									input(type='text', value='pe-7s-box1')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-bookmarks
									input(type='text', value='pe-7s-bookmarks')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-bicycle
									input(type='text', value='pe-7s-bicycle')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-bell
									input(type='text', value='pe-7s-bell')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-battery
									input(type='text', value='pe-7s-battery')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-ball
									input(type='text', value='pe-7s-ball')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-back
									input(type='text', value='pe-7s-back')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-attention
									input(type='text', value='pe-7s-attention')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-anchor
									input(type='text', value='pe-7s-anchor')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-albums
									input(type='text', value='pe-7s-albums')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-alarm
									input(type='text', value='pe-7s-alarm')
							.font-icon-list.col-lg-2.col-md-3.col-sm-4.col-xs-6.col-xs-6
								.font-icon-detail
									i.pe-7s-airplay
									input(type='text', value='pe-7s-airplay')
